.timer-components-wrapper {
  display: flex;
  flex-direction: column;
}

.timerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 2rem 15rem;

  color: black;
}

.timeDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(196, 196, 196, 0.2);
  padding: 2rem;

  font-size: 4.4rem;
  border-radius: 15px;
}

.displayCurrent {
  font-size: 1rem;
}

.startButton {
  width: 25%;
  align-self: center;
  font-size: 1rem;
  border-radius: 15px;
  border: none;
  color: white;
  background-color: rgb(42, 157, 143);
}

.startButton:disabled {
  display: none;
}

.stopButton {
  width: 25%;
  align-self: center;
  font-size: 1rem;
  border-radius: 15px;
  border: none;
  color: white;
  background-color: rgb(180, 52, 52);
}

.showMetronome {
  width: 25%;
  align-self: center;
  font-size: 1rem;
  border-radius: 15px;
  border: none;
  color: white;
  background-color: rgb(42, 157, 143);
}

.backToDash {
  width: 25%;
  align-self: center;
  font-size: 2rem;
  border-radius: 15px;
  border: none;
  color: white;
  background-color: rgb(42, 157, 143);
}
